header {
    border-bottom: 1px solid rgb(220, 220, 220);
}
* {
    font-family: Montserrat, sans-serif;
}
.bold {
    font-weight: 600;
    font-size: 17px;
    color: #221F20;
}
.order {
    padding: 60px;
}
.order-left {
    width:70%;
    float:left;
    padding-right:50px;
}
.order-right {
    width:30%;
    float:right;
    padding-top: 40px;
}
/*         PROGRESS-BAR        */
.order-left-progress-bar {
    font-family: Montserrat, sans-serif;
    font-size:13px;
    padding-bottom: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 90%;
    margin: 50px 0;
    position: relative;
    border: 1px solid rgb(217, 217, 217); 
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
}
.progress-line {
    position: absolute;
    top: 38%;
    width: 75%;
    margin: 0 12%;
    height: 4px;
    background-color: #ddd;
    z-index: 0;
}
.progress-step {
    text-align: center;
    position: relative;
    width: 25%;
    z-index: 1;
}
.progress-step::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 12px;
    border: 3px solid #ddd;
    height: 12px;
    background-color: white;
    border-radius: 50%;
}
.progress-step:first-child::before {
    background-color:black !important;
}
.progress-label {
    margin-top: 50px;
}

/*       RIGHT         */
.order-right-container {
    margin-top: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgb(235, 235, 235);
    color: #57585A;
}
.order-right-container-warn {
    color:rgb(155, 71, 71);
    font-size: 14px;
    text-align: justify;
    padding: 40px 0;
}
.order-right-container h3 {
    font-size: 20px;
    margin-bottom: 20px;
    color:#221F20;
}
.order-right-container-text {
    line-height: 2;
    font-size:15px;
}   
.order-right-container-text-right {
    float: right;
    padding-left: 200px;
    text-align: end;
}
.order-right-container-button {
    width: 100%;
    border: 1px solid black;
    background-color: #221F20;
    color: white;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 50px;
    cursor: pointer;
    padding-top: 30px;
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.order-right-container-button p {
    text-align: center;
    font-weight: 600;
    font-size:16px;
    padding-bottom: 25px;
}
.order-right-container-button:hover{
    background-color: white;
    color: black;
}
.order-right-container-bottom {
    padding-top: 25px;
}
.order-right-container-bottom-coupon {
    justify-content: space-between;
    align-items: center;
    padding-bottom: 20px;
}
.order-right-container-bottom-coupon div:first-child {
    padding-left: 40px;
}
.order-right-container-bottom-coupon div:last-child {
    padding-right: 40px;
}
.divider {
    width: 1px;
    background-color: #ccc;
    height: 20px;
    margin: 0 10px;
}
.order-right-container-bottom-coupon-input div:first-child {
    flex: 2;
}
.order-right-container-bottom-coupon-input input {
    width: 90%;
    height: 40px;
    outline: none;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    text-align: center;
}
.order-right-container-bottom-coupon-input div:last-child {
    flex: 1;
}
.apply {
    width: 100%;
    border: 1px solid black;
    background-color: white;
    color: #221F20;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 40px;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.apply:hover {
    background-color: #221F20;
    color: white;
}
.order-right {
    background-color: #fdfdfd;
}
.order-right-container-bottom-support {
    padding-top: 20px;  
}
.order-right-container-bottom-support select {
    width: 100%;
    cursor: pointer;
    height: 40px;
    outline: none;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    text-align: center;
    color:#57585A;
}
input:focus {
    border: 3px solid rgb(80, 203, 219);
}

/*            ORDER LEFT            */
.order-left-content-address {
    width: 60%;
}
.order-left-content-payment {
    width: 40%;
}
.sth {
    font-size:14px;
    color: #221F20;
    padding-bottom: 15px;
}
.order-left-content-address-sign p {
    width: 30%;
    border: 1px solid black;
    background-color: #221F20;
    color: white;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 50px;
    margin: 20px 0;
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
}
.order-left-content-address-sign p:last-child {
    background-color: white;
    color: #221F20;
    margin-left: 20px;
    font-size:17px;
}
.order-left-content-address-sign p:last-child:hover {
    background-color: #221F20;
    color: white;
}
.order-left-content-address-sign p:first-child:hover {
    background-color: white;
    color: #221F20;
}

/*        ORDER LEFT ADDRESS      */
.info-top-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
}
.order-left-content-container select, input {
    height: 40px;
    width: 100%;
    outline: none;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    text-align: center;
}
.info-bottom div{
    padding-top: 20px;
}

/*        ORDER LEFT PAYMENT      */
.order-left-content-payment {
    padding-left: 25px;
}
.order-left-content-payment-top {
    width: 100%;
    height: 80px;
    border: 1px solid #bdbdbd;
    border-top-left-radius: 25px;
    border-bottom-right-radius: 25px;
    margin-top: 20px;
}
.order-left-content-payment-top p {
    font-size: 15px;
    padding-top: 20px;
    text-align: center;
}

/*      SWITCH BUTTON       */
.vat-switch {
    position: relative;
    display: inline-block;
    width:  50px !important;
    margin-top: 10px;
}
.vat-switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    transition: .4s;
    padding-top: 25px;
    border-radius: 25px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 19px;
    width: 19px;
    left: 3px;
    bottom: 3px;
    background-color: white;
    transition: .4s;
    border-radius: 50%;
}
.vat-switch input:checked + .slider {
    background-color: black;
}
.vat-switch input:checked + .slider:before {
    transform: translateX(25px);
}

/*  VAT  */
.vat-content input{
    width: 100%;
    height: 40px;
    outline: none;
    border: 1px solid #bdbdbd;
    border-radius: 5px;
    text-align: center;
}
.vat-content input:focus {
    border: 3px solid rgb(80, 203, 219);
}
.vat-content div {
    padding-top: 20px;
}

/*        ORDER LEFT PAYMENT METHOD     */
.payment-option {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    cursor: pointer;
    padding-top: 20px;
    font-size:14px;
    color:#57585A;
}
.circle {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    border: 2px solid #999;
    display: inline-block;
    margin-right: 10px;
    position: relative;
}
.circle.checked {
    border-color: black;
}
.circle.checked::before {
    content: '';
    background-color: black;
    border-radius: 50%;
    position: absolute;
    top: 2px;
    left: 2px;
    height: 10px;
    width: 10px;
}
.payment-option img {
    margin-left: 30px;
    height: 25px;
}
.payment-option span {
    display: block;
}
.payment-option .description {
    font-size: 12px;
    color: gray;
    margin-left: 28px;
}
.payment-method-container {
    border: 1px solid #bdbdbd;
    border-top-left-radius: 30px;
    border-bottom-right-radius: 30px;
    padding: 20px;
    margin-top: 20px;
}
.payment-method {
    margin-top: 70px;
}

.quantity-input {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    height: 40px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    width: 100px;
}

.quantity-btn {
    width: 30px;
    height: 40px;
    border: 1px solid #ccc;
    background-color: #ffffff;
    cursor: pointer;
    font-size: 16px;
    border-top-left-radius: 10px;
    border-bottom-right-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.quantity-text {
    font-family: Montserrat, sans-serif;
    font-size: 17px;
    color:rgb(97, 97, 97);
    padding-top:11px;
}
.quantity-btn:focus {
    outline: none;
}
#quantity:focus {
    outline: none;
}
#quantity {
    width: 40px;
    text-align: center;
    border: none;
    font-size: 16px;
    background-color: #fff;
}
table th {
    color: #6C6D70;
    font-size:12px;
    text-align: left;
    border-bottom: 1px solid rgb(235, 235, 235);
    padding: 20px 0;
}
table td {
    padding: 20px 0;
    border-bottom: 1px solid rgb(235, 235, 235);
    color: #6C6D70;
    vertical-align:top;
}
table td:first-child {
    width: 50%;
}
table td:first-child img {
    width: 35%;
    cursor: pointer;
}
.cart-prod-name {
    width: 65%;
    padding: 0 20px;
    cursor: pointer;
}
.cart-prod-info {
    padding-top: 20px;
    font-size:14px;
}
.cart-prod-info p {
    margin-right: 15px;
}
.discount {
    color: rgb(165, 46, 46);
    font-size: 13px;
    font-weight: 600;
    padding-top: 10px;
}
.display-order-button {
    width: 30%;
    border: 1px solid black;
    background-color: #221F20;
    color: white !important;
    border-top-left-radius: 15px;
    border-bottom-right-radius: 15px;
    height: 50px;
    margin: 20px 0;
    cursor: pointer;
    justify-content: center;
    align-items: center;
    margin: 60px 0;
}
.display-order-button:hover {
    background-color: white;
    color: black !important;
}
.display-order-button p {
    text-align: center;
    font-weight: 600;
    font-size:16px;
    padding-top: 15px;
}